html, body {
    /*overflow-x: hidden;*/
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    /*position: relative*/
}

.container{
    height: 100vh;
    background: #ddd;
}
.joystick-container {
    box-sizing: border-box;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.joystick{
    background: #f6f6f6;
    width: 10em;
    height: 10em;
    bottom: 0;
    position: absolute;
}
.stick{
    position: relative;
    background: #b3b8bb;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
}
.joystick-container div{
    box-sizing: border-box;
    float: left;
    border-radius: 100%;

}
button{
    background: #f6f6f6;
    border: 0;
    width: 100px;
    height: 30px;
    font-size: 15px;
}
.info{
    position: absolute;
    top: 0;
    right: 0;
    background: #f6f6f6;
    width: 100px;
    text-align: right;
    /*border-bottom-left-radius: 10px;*/
}
.info{
    padding: 5px;
}
.plate *{
    margin-left: -50%;
}
.plate{
    position: absolute;
    bottom: 5px;
    left: 50vw;
}

.compass{
    position: absolute;
    top:5px;
    left: 5px;
    height: 40vh;
    width: auto;
}
.compass img{
    width: inherit;
    height: inherit;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}